.app__menuItem {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  flex-direction: column;
}

.app__menuItem-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__menuItem-sub {
  width: 100%;
  margin-top: 0.2rem;
}

/* .app__menuItem-name {
  flex: 1;
} */

.app__menuItem-dash {
  width: 30%;
  height: 1px;
  background-color: var(--color-golden);
  margin: 0 1rem;
}

.app__menuItem-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/*++++++++++++++++++++++++++++++ 

         MEDIA QUERY 
   
+++++++++++++++++++++++++++++++*/
@media (max-width: 1370px) {
  .app__menuItem-dash {
    width: 50%;
  }
}

@media (max-width: 990px) {
  .app__menuItem-dash {
    width: 40%;
  }
}

@media (max-width: 470px) {
  .app__menuItem-dash {
    width: 35%;
  }
}
