.app__chef-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
}

.app__chef-content_quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.app__chef-content_quote img {
  width: 40px;
  height: auto;
  margin: 0 1rem 1rem 0;
}

.app__chef-sign {
  width: 100%;
  margin-top: 2.5rem;
}

.app__chef-sign img {
  width: 40%;
  min-width: 300px;
}

.app__chef-sign p:first-child {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-golden);
}
