@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

.section__padding {
  padding: 4rem 14rem;
}

.app__logo-style {
  color: var(--color-golden);
  font-size: 2.4rem;
  padding: 10px 0;
  font-family: "Petit Formal Script", cursive, sans-serif;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url("./assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 50%;
  min-width: 400px;
}

.custom__button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 28px;
  font-size: 1rem;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 4rem;
  line-height: 83.2px;
  letter-spacing: 0.04em;
}

.spoon__img {
  width: 45px;
}

.scroll-top {
  position: fixed;
  top: 85%;
  z-index: 50;
  color: var(--color-white);
  right: 7%;
  cursor: pointer;
  transition: ease 0.5s;
  background-color: var(--color-black);
}

.scroll-top:hover {
  color: var(--color-golden);
}

.scroll-top svg {
  font-size: 2.5rem;
}

/*++++++++++++++++++++++++++++++ 

         MEDIA QUERY 
   
+++++++++++++++++++++++++++++++*/

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1300px) {
  .app__wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 1180px) {
  .app__logo-style {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
    justify-content: center;
  }

  .app__wrapper_img img {
    width: 60%;
    min-width: auto;
  }

  .section__padding {
    padding: 4rem 8rem;
  }
}

@media screen and (max-width: 670px) {
  .app__logo-style {
    padding: 5px 0;
  }

  .section__padding {
    padding: 4rem 2rem;
  }

  .headtext__cormorant {
    font-size: 3rem;
    line-height: 50px;
  }

  .p__opensans {
    font-size: 14px;
  }

  .app__wrapper_img {
    justify-content: center;
  }

  .app__wrapper_img img {
    width: 65%;
  }

  .scroll-top svg {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 2.5rem;
    line-height: 5 0px;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}
